@using System.Text.RegularExpressions;
@{

    string strTitleURL = ViewContext.RouteData.Values["strTitleURL"].ToString();
    var langID = APP_B2B_PUB.Controllers.HomeController.GetLangID(Request.QueryString["lang"]);

    var strUrl = HttpContext.Current.Request.Url.AbsoluteUri;

    @functions {
        public static string GetUrl(string strTxt)
        {
            return APP_B2B_PUB.Controllers.HomeController.GetUrl(strTxt);
        }
        public static string GetFormatDateTime(string strTxt)
        {
            return APP_B2B_PUB.Controllers.HomeController.GetFormatDateTime(strTxt);
        }
        public static string RemoveHTMLTags(string value)
        {
            Regex regex = new Regex("\\<[^\\>]*\\>");
            value = regex.Replace(value, String.Empty);
            return value;
        }
    }


    System.Data.DataSet ds = APP_B2B_PUB.Controllers.TourController.GetDetailTourByPUB("{"
        + "strUserGUID: '47ecbd6d-897a-4a41-a061-95d5d3b166b6'"
        + ",strServiceNameUrl: '" + strTitleURL + "'"
        + ",tblsReturn:'[0]'"
        + "}");


    System.Data.DataRow objDetail = ds.Tables[0].Rows[0];


    ds = APP_B2B_PUB.Controllers.TourController.GetListTourDayByPtn("{"
        + "strUserGUID: null"
        + ",strTourDayGUID: null"
        + ",strTourGUID:'" + objDetail["strTourGUID"] + "'"
        + ",intCurPage:null"
        + ",intPageSize:null"
        + ",strOrder:null"
        + ",tblsReturn:'[0]'"
        + "}");

    System.Data.DataTable dtListDay = ds.Tables[0];


    var strTitle = @Html.Raw(@objDetail["strServiceName"]) + " - Tour";

    string storageItem = Request.QueryString["lang"];

    string verFile = System.Guid.NewGuid().ToString().Substring(0, 5);

    //HttpCookieCollection cook = Request.Cookies;
    //var value = Request.Cookies["lang"].Value;

    ViewBag.Lang = Request.QueryString["lang"];
    ViewBag.Title = strTitle;
    ViewBag.Keywords = objDetail["strKeyword"];
    ViewBag.Description = RemoveHTMLTags(objDetail["strOverview"].ToString());
    ViewBag.ImagePage = GetUrl("strImgURL") + "" + objDetail["strTourImageUrl"];
}

<div class="container">
    <div class="w-full p-5 rounded-xl">
        <h2 class="mb-3 text-[color:var(--primary-color)] text-4xl font-bold">@Html.Raw(@objDetail["strServiceName"])</h2>
        <div class="flex gap-12">
            <div class="w-2/3">
                @* Thông tin tour *@
                <div class="flex justify-between items-center bg-gray-100 rounded-sm p-5">
                    <div class="flex gap-4 items-center">
                        <div class="flex gap-2 items-center">
                            <MdLocationOn />
                            <span>Phu Quoc</span>
                        </div>
                        <div class="flex gap-2 items-center">
                            <GoClock />
                            <span>(@objDetail["intNoOfDay"] Ngày/@(@Convert.ToInt32(@objDetail["intNoOfDay"].ToString()) - 1) Đêm)</span>
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>Phương tiện di chuyển</span>
                            <BiBus />
                            <BiSolidPlane />
                        </div>
                    </div>
                    <div class='flex flex-col justify-center items-center gap-1'>
                        <a href="/agency/@objDetail["strCompanyNameUrl"]" class="flex items-center h-16 w-16 justify-center rounded-full bg-blue-200 text-sm font-bold"><button>@Html.Raw(@objDetail["strCompanyName"])</button></a>
                        <div class="flex gap-2 text-xs"><BiSolidStar /><BiSolidStar /><BiSolidStar /><BiSolidStar /><BiSolidStar /></div>
                    </div>
                </div>
                <div class="w-full mt-6">
                    <div class="w-full bg-no-repeat bg-center bg-cover pt-[52.4%]" style="background-image:url('@GetUrl("strImgURL")@objDetail["strTourImageUrl"]')"></div>
                </div>
                @* Nhúng Youtube *@
                @* <div class="bg-gray-100 rounded-sm p-5">
            </div> *@
                <div class="bg-red-100 rounded-sm px-5 py-2 mt-4">5 khách đặt trong vòng 24h qua</div>
                <div class="bg-white rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)] mt-4">
                    <div class="mt-4">
                        <div class="flex justify-between items-center">
                            <h2 class="text-3xl font-medium text-[#003C71]">Trung Hoa Cổ Kính</h2>
                            <div class="flex gap-3">
                                <a href="/tour/day-la-bai-viet-2" class="flex gap-1 text-white font-bold text-[12px] rounded-lg items-center px-2 py-1 bg-[#1877F2]">
                                    <BiSolidLike color="white" />
                                    <span>Thích</span>
                                </a>
                                <a href="/tour/day-la-bai-viet-2" class="flex gap-1 text-white font-bold text-[12px] rounded-lg items-center px-2 py-1 bg-[#1877F2]">
                                    <BiShareAlt color="white" />
                                    <span>Chia sẻ</span>
                                </a>
                            </div>
                        </div>
                        <div class="p-3">
                            <p>Nổi tiếng với những điểm đến hấp dẫn và đầy thú vị tại Tây Bắc Trung Quốc. Lệ Giang vùng đất nổi tiếng với phong cảnh đẹp như tranh vẽ, với những con đường đèo vắt eo biến tấu khúc khuỷu, những dòng sông xanh ngắt quấn quýt xuyên qua những thị trấn cổ kính, những ngọn núi cao trùng điệp mời gọi du khách đến khám phá. Đến Shangri-la chiêm ngưỡng những cảnh quan thiên nhiên độc đáo, hòa mình vào văn hóa và phong tục tập quán truyền thống của người dân địa phương. Cùng iVIVU khám phá ngay hôm nay!</p>
                        </div>

                    </div>

                    <div class="mt-4">
                        <div class="flex justify-between items-center">
                            <h2 class="text-3xl font-medium text-[#003C71]">Những trải nghiệm thú vị trong chương trình</h2>
                        </div>
                        <div class="p-3">
                            <p class="mb-2">- Thành cổ Đại Lý  - trong bộ phim Thiên Long Bát bộ của nhà văn Kim Dung. Đại Lý được nhắc tới trong các tiểu thuyết như một vùng đất xinh đẹp, trù phú. Ngày nay, đây là điểm du lịch hút khách với các công trình kiến trúc cổ, văn hóa và ẩm thực đặc sắc.</p>
                            <p class="mb-2">- Hương Cách Lý Lạp (Shangrila) - “Vùng đất bất tử” trong tiểu thuyết Lost Horizon (chân trời đã mất), của nhà văn Anh James Hilton. Được mệnh danh là thung lũng bất tử bởi lẽ cảnh sắc nơi đây quanh năm luôn rực rỡ và tươi đẹp.</p>
                            <p class="mb-2">- Công viên Quốc gia Phổ Đạt Thố - Potatso National Park – Thiên nhiên nơi xứng đáng được mệnh danh là chốn tiên cảnh với những cảnh quan núi cao tuyết trắng, rừng xanh nắng vàng, thi thoảng lại ẩn hiện trong sương khói với một hệ động thực vật vô cùng phong phú</p>
                        </div>

                    </div>
                    <div class="mt-4">
                        <div class="flex justify-between items-center">
                            <h2 class="text-3xl font-medium text-[#003C71]">Bạn có sẵn sàng</h2>
                        </div>
                        <div class="p-3">
                            <p class="mb-2">- Hộ chiếu còn hạn ít nhất 6 tháng tính từ ngày kết thúc tour.</p>
                            <p class="mb-2">- Chứng nhận tiêm đủ 2 mũi vacxin covid trở lên trước khi nhập cảnh Trung Quốc.</p>
                        </div>
                    </div>
                </div>

                <div class="bg-white rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)] mt-4">
                    <h2 class="text-3xl font-medium text-[#003C71]">Chương trình tour</h2>

                    @foreach (System.Data.DataRow item in dtListDay.Rows)
                    {

                        <div class="mt-4">
                            <h2 class="text-xl font-medium mb-3 uppercase">NGÀY @item["intDayOrder"]: @Html.Raw(@item["strDayTitleAndMeals"])</h2>
                            <div class="mt-12" style="padding:0 20px">@Html.Raw(@item["strDayContent"])</div>
                        </div>


                    }

                    <p class="text-center"><em>Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bảo đầy đủ điểm trong chương trình.</em></p>
                </div>

                <div class="flex grid grid-cols-2 mt-4 gap-8">
                    <div class="bg-white rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)]">
                        <h6 class="mb-2 text-2xl font-medium">Giá bao gồm:</h6>
                        @Html.Raw(@objDetail["strIncluded"])
                    </div>
                    <div class="bg-white rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)]">
                        <h6 class="mb-2 text-2xl font-medium">Giá không bao gồm:</h6>
                        @Html.Raw(@objDetail["strExcluded"])
                    </div>
                </div>
                @* Thông tin Visa *@
                <div class="bg-white rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)] mt-4">
                    <div class="mt-4">
                        <div class="flex justify-between items-center">
                            <h2 class="text-3xl font-medium text-[#003C71]">Thông tin Visa</h2>
                        </div>
                        <div class="p-3">
                            <p class="mb-2">- Quý khách chỉ cần hộ Việt Nam còn nguyên vẹn và có hạn sử dụng ít nhất 6 tháng tính từ ngày kết thúc tour.</p>
                            <p class="mb-2">- Quý khách phải có xác nhận tiêm ngừa Vaccine Covid-19 đủ 2 mũi trở lên. Tra cứu chứng nhận tiêm ngừa tại: https://tiemchungcovid19.gov.vn/portal</p>
                        </div>
                    </div>
                </div>
                @* Hướng dẫn viên *@
                <div class="bg-white rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)] mt-4">
                    <div class="mt-4">
                        <div class="flex justify-between items-center">
                            <h2 class="text-3xl font-medium text-[#003C71]">Điều khoản</h2>
                        </div>
                        <div class="p-3">
                            @Html.Raw(@objDetail["strTermAndCondition"])
                        </div>
                    </div>
                </div>
                @* Chi phí dự kiến *@
                <div class="bg-white rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)] mt-4">
                    <div class="mt-4">
                        <div class="flex justify-between items-center">
                            <h2 class="text-3xl font-medium text-[#003C71]">Chi phí dự kiến</h2>
                        </div>
                        @* Tab *@
                        <div>
                            <div>Giá bao gồm</div>
                        </div>
                        <div class="p-3">
                            <div class='mt-4'>
                                <h4 class="font-medium text-lg mb-4">Vận Chuyển:</h4>
                                <p class="mb-3">- Xe ô tô đưa đón theo chương trình</p>
                                <p class="mb-3">- Xe điện và cáp treo nhỏ lên Vân Tam Bình ở Lệ Giang</p>
                                <p class="mb-3">- Vé tàu cao tốc Mông Tự - Đại Lý; Lệ Giang - Côn Minh</p>
                            </div>
                            <div class='mt-4'>
                                <h4 class="font-medium text-lg mb-4">Lưu Trú:</h4>
                                <p class="mb-3">- Khách sạn chuẩn 4 sao địa phương, ở Lệ Giang và Shangrila phòng tiêu chuẩn 02 người/phòng, trường hợp lẻ - ghép 03 người/phòng)</p>
                                <p class="mb-3">- Khách sạn ở Đại Lý chuẩn 3 sao, ở phòng tiêu chuẩn 02 người/phòng, trường hợp lẻ - ghép 03 người/phòng)</p>
                            </div>
                            <div class='mt-4'>
                                <h4 class="font-medium text-lg mb-4">Khác:</h4>
                                <p class="mb-3">- Ăn các bữa như chương trình, bữa chính gồm 8 món +1 canh, 8-10 người/ bàn mức ăn 40 NDT/ bữa (Riêng ở Đại Lý mức ăn là 50 NDT/ người/ bữa</p>
                                <p class="mb-3">- Vé cửa thăm quan trong chương trình</p>
                                <p class="mb-3">- Hướng dẫn viên tiếng việt theo suốt hành trình, Hướng dẫn viên địa phương nói tiếng Trung</p>
                                <p class="mb-3">- Bảo hiểm trách nhiệm công ty du lịch mức đền bù 30.000USD. Đối với khách trên 70 tuổi mức bảo hiểm là 5.000USD (cho bảo hiểm do tai nạn rủi ro trong khi du lịch, không bao gồm bảo hiểm cho các loại bệnh mãn tính và bệnh phát cấp tính).</p>
                                <p class="mb-3">- Nước uống trên ô tô 1 chai/người/ngày</p>
                                <p class="mb-3">- Visa nhập cảnh trung quốc (Visa đoàn)</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex-1">
                <div class="bokun-elm" data-src='http://localhost:8888/api/tour/book/6529781ad74bcb42243b43e1'></div>
                <script src="/Lib_Custom/payment/bokunPayment.js" data-src="https://localhost:8888/api/tour?channelUID=6666-ggg-77-7"></script>
            </div>

        </div>


        <div class="flex gap-12 mt-6">
        </div>
        @* Tour gợi ý *@
        <div class="p-3 bg-white rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)] border mt-4">
            <h3 class='font-semibold text-xl'>Tour liên quan</h3>
            <div class="grid grid-cols-3 mt-6 flex gap-6">
                <a href="/tour/day-la-bai-viet-2" class='hover:bg-teal-100'>
                    <div class="w-full">
                        <div class="w-full bg-no-repeat bg-center bg-cover pt-[62.5%]" style="background-image:url('https://cdn2.ivivu.com/2023/02/21/15/ivivu-phat-quang-son-tu-2-360x225.gif')"></div>
                    </div>
                    <div class="p-3 border">
                        <h4 class="font-bold text-[#003C9F]">Tour Đài Loan 5N4Đ: Cao Hùng - Đài Trung - Đài Bắc - Phố Cổ An Bình</h4>
                        <div class='flex items-center gap-2 text-xs mt-3'>
                            <p class='px-2 py-1 bg-[#9FC43A] text-white rounded-lg'>10.0</p>
                            <span class='text-[#9FC43A]'>Tuyệt vời</span>
                            <span>|</span>
                            <span>3 đánh giá</span>
                        </div>
                        <div class='mt-3 text-sm flex flex-col gap-1 text-[color:var(--primary-color)]'>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                        </div>
                        <p class="text-end text-xl font-semibold text-[#00C1DE]">11.999.000 VNĐ</p>
                    </div>
                </a>
                <a href="/tour/day-la-bai-viet-2" class='hover:bg-teal-100'>
                    <div class="w-full">
                        <div class="w-full bg-no-repeat bg-center bg-cover pt-[62.5%]" style="background-image:url('https://cdn2.ivivu.com/2023/02/21/15/ivivu-phat-quang-son-tu-2-360x225.gif')"></div>
                    </div>
                    <div class="p-3 border">
                        <h4 class="font-bold text-[#003C9F]">Tour Đài Loan 5N4Đ: Cao Hùng - Đài Trung - Đài Bắc - Phố Cổ An Bình</h4>
                        <div class='flex items-center gap-2 text-xs mt-3'>
                            <p class='px-2 py-1 bg-[#9FC43A] text-white rounded-lg'>10.0</p>
                            <span class='text-[#9FC43A]'>Tuyệt vời</span>
                            <span>|</span>
                            <span>3 đánh giá</span>
                        </div>
                        <div class='mt-3 text-sm flex flex-col gap-1 text-[color:var(--primary-color)]'>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                        </div>
                        <p class="text-end text-xl font-semibold text-[#00C1DE]">11.999.000 VNĐ</p>
                    </div>
                </a>
                <a href="/tour/day-la-bai-viet-2" class='hover:bg-teal-100'>
                    <div class="w-full">
                        <div class="w-full bg-no-repeat bg-center bg-cover pt-[62.5%]" style="background-image:url('https://cdn2.ivivu.com/2023/02/21/15/ivivu-phat-quang-son-tu-2-360x225.gif')"></div>
                    </div>
                    <div class="p-3 border">
                        <h4 class="font-bold text-[#003C9F]">Tour Đài Loan 5N4Đ: Cao Hùng - Đài Trung - Đài Bắc - Phố Cổ An Bình</h4>
                        <div class='flex items-center gap-2 text-xs mt-3'>
                            <p class='px-2 py-1 bg-[#9FC43A] text-white rounded-lg'>10.0</p>
                            <span class='text-[#9FC43A]'>Tuyệt vời</span>
                            <span>|</span>
                            <span>3 đánh giá</span>
                        </div>
                        <div class='mt-3 text-sm flex flex-col gap-1 text-[color:var(--primary-color)]'>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                            <p>Phố Cổ Thập Phần</p>
                        </div>
                        <p class="text-end text-xl font-semibold text-[#00C1DE]">11.999.000 VNĐ</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
