<!DOCTYPE html>
<html lang="@Html.Raw(@ViewBag.Lang)">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X7M3TN2P11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X7M3TN2P11');
    </script>

    <meta charset="UTF-8">
    <link rel="alternate" href="https://itourlink.com/" hreflang="@Html.Raw(@ViewBag.Lang)" />
    <link rel="canonical" href="@HttpContext.Current.Request.Url.AbsoluteUri">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="shortcut icon" href="/Lib_Common/assets/images/itourlinkicon.png">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta name="keywords" content='@Html.Raw(@ViewBag.Keywords)' />
    <meta name="description" content='@Html.Raw(@ViewBag.Description)' />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    <meta property="og:image" content='@Html.Raw(@ViewBag.ImagePage)' />
    <meta property="og:description" content='@Html.Raw(@ViewBag.Description)' />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@Html.Raw(ViewBag.Title)" />
    <meta name="twitter:image" content='@Html.Raw(@ViewBag.ImagePage)' />
    <meta name="twitter:description" content='@Html.Raw(@ViewBag.Description)' />
    <meta http-equiv="content-language" content="@Html.Raw(@ViewBag.Lang)" />

    @{
        string verFile = System.Configuration.ConfigurationManager.AppSettings["verFile"];
    }

    <link rel="stylesheet" type="text/css" href="~/Lib_Common/vendor/font-awesome/css/font-awesome.min.css?v=1.8">
    <link rel="stylesheet" type="text/css" href="~/Lib_Common/vendor/simple-line-icons/simple-line-icons.min.css?v=1.8">
    <link rel="stylesheet" type="text/css" href="~/Lib_Common/vendor/select2/select2.min.css?v=1.8">
    <link rel="stylesheet" type="text/css" href="~/Lib_Common/vendor/daterangepicker/daterangepicker.css?v=1.8">
    <link rel="stylesheet" type="text/css" href="~/Lib_Common/vendor/owl-carousel/ver-1/owl.carousel.css?v=1.8">
    <link rel="stylesheet" type="text/css" href="~/Lib_Common/vendor/owl-carousel/ver-1/owl.theme.css?v=1.8">
    <link rel="stylesheet" type="text/css" href="~/Lib_Common/vendor/owl-carousel/ver-1/owl.transitions.css?v=1.8">


    <link rel="stylesheet" type="text/css" href="~/Lib_Common/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Lib_Common/assets/css/site.css">

    <link rel="stylesheet" type="text/css" href="~/Lib_Custom/itl-theme-1/public-mkt/css/default.css?v=1.8">
    <link rel="stylesheet" type="text/css" href="~/Lib_Custom/itl-theme-1/public-mkt/css/style1.css?v=1.8">

    <link rel="stylesheet" type="text/css" href="~/Lib_Common/vendor/flag-icon/css/flag-icon.min.css">


    <script type="text/javascript" src="~/Lib_Common/assets/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="~/Lib_Common/assets/js/jquery-ui.min.js?v=1.8"></script> -->


    <script src="~/Lib_Common/vendor/firebase/firebase.js"></script>
    <script src="~/Lib_Common/vendor/firebase/firebase-analytics.js"></script>

    <script type="text/javascript" src="~/Lib_Common/core/core.js?v=1.8"></script>
    <script type="text/javascript" src="~/Lib_Common/core/coreElm.js?v=1.8"></script>
    <script type="text/javascript" src="~/Lib_Common/core/corePn.js?v=1.8"></script>
    <script type="text/javascript" src="~/Lib_Common/core/WebLiberary.js?v=1.8"></script>
    <script type="text/javascript" src="~/Lib_Common/core/B2B_ConnectTMS.js?v=1.8"></script>
    <script type="text/javascript" src="~/Lib_Custom/coreSystem.js?v=1.8"></script>

    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
</head>
<body id="PUB-MKT-Itltheme-1" class="style-1">
    @if (Request.QueryString["lang"] == null || Request.Cookies["Currency"] == null || Request.Cookies["Language"] == null)
    {
        <script>
            coreSystem.getLoadPage({
                OnSuccess: function () {
                    location.reload()
                }
            })
        </script>
    }
    else
    {
    }

    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")

</body>
</html>
